[package]
name = "lane-builder"
version.workspace = true
edition.workspace = true
license.workspace = true

[[bin]]
name = "lane-builder"
path = "src/bin/main.rs"

[dependencies]
inspire-core = { path = "../inspire-core" }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
anyhow = { workspace = true }
hex = { workspace = true }
tracing-subscriber = { workspace = true }

[dev-dependencies]
tempfile = "3.10"
